*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footerBottom{
    position: static;
    background-color:#231F21;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
    padding: 5px;
    font-size: 13px;
}
.footerBottom a{
    color: white;
    font-size: 15px;
}
@media (max-width: 700px){
    .footerBottom{
        position:sticky;
    }
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}