*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footerBottom{
    background-color:#27187E;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}